@media (min-width:670px){
  
    #men_op {
      
        padding: 1em !important;
        height: 60px !important;
      
        display: flex;
    
        justify-content: space-around;
    }
    
    .diagramas2d,
    .diagramas3d{
        border-radius: 3px;
        border-bottom-left-radius: 0;
        width: 250px;
        height: 60px;
        align-items: center;
        appearance: none;
        
        border-width: 0;
        box-sizing: border-box;
        color: #838383 !important;
        cursor: pointer;
        display: inline-flex;
    
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;

        position: relative;
        text-align: center !important;
        text-decoration: none;
    
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
    
        font-size: 18px;
    }
    
          /*
    
    .diagramas2d:hover,
    .diagramas3d:hover {
      
        transform: translateY(2px);
    }

    .arrow-button {
        display: flex;
        color: #000000;
    
        padding: 10px 16px;
    
        transition: all .3s ease;
        font-weight: bold;
        cursor: pointer;
        align-items: center;
        font-size: 14px;
    }
    
    .arrow-button > .arrow {
        width: 6px;
        height: 6px;
        border-right: 2px solid  #ffff;
        border-bottom: 2px solid #ffff;
        position: relative;
        transform: rotate(-180deg);
        margin: 0 6px;
        transition: all .3s ease;
    }
    
    .arrow-button > .arrow::before {
        display: block;
        background-color: currentColor;
        width: 3px;
        transform-origin: bottom right;
        height: 2px;
        position: absolute;
        opacity: 0;
        bottom: calc(-2px / 2);
        transform: rotate(45deg);
        transition: all .3s ease;
        content: "";
        right: 0;
    }
    
    .arrow-button:hover > .arrow {
        transform: rotate(-45deg) translate(4px, 4px);
        border-color: text-hover-color;
    }
    
    .arrow-button:hover > .arrow::before {
        opacity: 1;
        width: 8px;
    }
    
    .arrow-button:hover {
        border: 0;
        opacity: 0.8;
        background-color: #141414;
        color: rgb(255, 255, 255) !important;
    }
*/



    /*24/02 n bt*/

     .btn-2 {

          background-color: transparent !important;
          position: relative;
          display: inline-block;
       
          padding: 12px 36px;
          /*
          margin: 10px 0;
          */
          color: #000000;
          text-transform: uppercase;
          font-size: 18px;
          letter-spacing: 2px;
          background-color: transparent;

          cursor: pointer;
          overflow: hidden;
        }
        
        
        .btn-2:after {
          backface-visibility: hidden;
          border: 2.5px solid rgba(255, 255, 255, 0);
          bottom: 0px;
          content: " ";
          display: block;
          margin: 0 auto;
          position: absolute;
          transition: all 280ms ease-in-out;
          width: 0;
          left: 50%; /* adicionado */
          transform: translateX(-50%); /* adicionado */
        }
        
        .btn-2:hover:after {
         
          backface-visibility: hidden;
          border-color: #1373e2;
          transition: width 350ms ease-in-out;
          width: 80%;
        }

}