@media (min-width:670px){

    :root{

        /*
        --dark-mode-container-menu: #242526;
        --dark-mode-left-right: #18191a;
        */
        --font-color-normal: rgb(241, 241, 241);
        --font-color-dark: rgb(54, 52, 52);
        
        --normal-mode-container-menu: #ffffff;
        --normal-mode-left-right-body: #f0f2f5;
    
        --media-inner-border: rgba(255, 255, 255, 0.05);
        --media-outer-border: #33363A;
    }
    
    a,
    li,
    ul:-webkit-any-link {
        user-select: none;
        cursor: pointer !important;
        text-decoration: none !important;
        list-style: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .item-101{
        margin-top: 60px;
    }
    .menu 
    /* horizontal menu layout */
     {
        border-radius: 5px;
        padding: 0.5px;
        background-color: var(--normal-mode-container-menu);
        margin: 0;
        display: flex;
        overflow: hidden;
        flex-direction: column;
    
      
    }
    
    
    
    .menu li
    /* horizontal menu layout */
     {
        
        width: 100% !important;
        height: 50px !important;
        margin-bottom: 40%;
    
    
    
        
    }
    .menu li a:hover
    /* link style on-mouse-over */
     {
      
    
        text-decoration: none;
    }
    .menu li:hover
    /* button style on-mouse-over */
     {
    
      
        background-color: #e5e8eb;
        opacity: 0.8;
    }
    
    .menu li.active a
    /* active menu item style */
     {
        

        text-decoration: none;
       
    }
    .menu li a{
        border: none;
    }

}
