html, body {
    background-color: rgb(34, 33, 33);





    flex-grow: 1;
    height: 100%;
    font-family: "Poppins", sans-serif;

}
body{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

.content_{    margin-top: 2%;
    background-color: rgb(34, 33, 33);
   
    min-width: 30%;

    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;

    backdrop-filter: blur(50px);
    margin-left: 1%;

    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    height: 100%;
    padding: 5%;
    padding-top: 20px;
    margin-right: -100px;


}
.content_ li{
    filter: blur(0px);
    list-style: none;
    margin: 50px 0px;

}
.content_ ul li a {

    color: azure;
    text-decoration: none;
}
.content_ ul li a:nth-child(1):hover{color: white;}
.content_ ul li a:nth-child(1):hover{color: white;}
.content_ ul li a:nth-child(1):hover{color: white;}

.content_ ul li:nth-child(1):hover{


    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition:all .4s;
    -o-transition: all .4s;
    border-radius: 8px;

    background-color: #e635dd;
    color: white;
    border:1px solid rgb(255, 255, 255);   

    padding:10px;

    position:relative; 
    cursor:pointer;
}
.content_ ul li:nth-child(2):hover{


    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition:all .4s;
    -o-transition: all .4s;
    border-radius: 8px;

    background-color: #e635dd;
    color: white;
    border:1px solid rgb(255, 255, 255);   

    padding:10px;

    position:relative; 
    cursor:pointer;
}
.content_ ul li:nth-child(3):hover{

  
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition:all .4s;
    -o-transition: all .4s;
    border-radius: 8px;

    background-color: #e635dd;
    color: white;
    border:1px solid rgb(255, 255, 255);   

    padding:10px;

    position:relative; 
    cursor:pointer;
}
.content_ ul li:nth-child(4):hover{


    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition:all .4s;
    -o-transition: all .4s;
    border-radius: 8px;

    background-color: #e635dd;
    color: white;
    border:1px solid rgb(255, 255, 255);   

    padding:10px;

    position:relative; 
    cursor:pointer;
}
.content_ ul li:nth-child(5):hover{


    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition:all .4s;
    -o-transition: all .4s;
    border-radius: 8px;

    background-color: #e635dd;
    color: white;
    border:1px solid rgb(255, 255, 255);   

    padding:10px;

    position:relative; 
    cursor:pointer;
}
.content_ ul li:nth-child(6):hover{


    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition:all .4s;
    -o-transition: all .4s;
    border-radius: 8px;

    background-color: #e635dd;
    color: white;
    border:1px solid rgb(255, 255, 255);   

    padding:10px;
    width: 160px;
    position:relative; 
    cursor:pointer;
}
.content_ ul li:nth-child(7):hover{

    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition:all .4s;
    -o-transition: all .4s;
    border-radius: 8px;

    background-color: #e635dd;
    color: white;
    border:1px solid rgb(255, 255, 255);   

    padding: 10px;
    width: 140px;
    position:relative; 
    cursor:pointer;
}
article{
    margin-top: 2%;
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(50px);
    z-index: 1;
    top: 0;
    height: 100%;
    padding: 5%;
    min-width: 60%;
 
}


.container{


    margin-left: auto !important;
    margin-right: auto !important;

    display: flex;
   

}
.container_1{

background-color: black;


    margin-left: 1%;


    z-index: 1;


    padding: 2%;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;

    margin-bottom: 2%;

}

header{
    position: -webkit-sticky !important;

}
table, th, td {
    background-color: rgb(90, 101, 104);
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(53, 15, 15, 0.15);
}

.content_1{
    color: white;
    border-radius: 5px;
    background-color: rgb(34, 33, 33);
    padding: 2%;
    margin-top: 4%;
    margin-bottom: 5%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}