@media only screen and (min-width: 600px) {
    html,body {
      zoom: .8;
    }
    
  }

  @media only screen and (max-width: 800px) {
    html,body  {
      zoom: .9;        
    }
    table, th, td {

      font-size: 1em !important;
 
 

   
  }
  
  .content_1{

      border-radius: 5px !important;
      background-color: rgb(12, 10, 14);
      padding: 2%;
      margin-top: 4%;
      margin-bottom: 5%;
      width: 100%;

  }
    .container{
    flex-direction: column-reverse;

    }
    .content_{   
      display: none;
  }
  model-viewer{

    width: 100% !important;
  }
  .content__{
    display: none;
  }

  
  }

  @media only screen and (min-width: 1000px) {
    html,body {
      zoom: 1;
    }
  }
  @media only screen and (min-width > 1000px) {
    html,body {
      background-color: black;
    }
    
  }

