@media only screen and (min-width: 600px) {
    html,body {
      zoom: .8;
    }
  }

  @media only screen and (max-width: 800px) {
    html,body  {
      zoom: .9;        
    }
    .container{
    flex-direction: column-reverse;

    }
    .content_{   
      display: none;
  }
  model-viewer{

    width: 100% !important;
  }
  .content__{
display: none;
}
  }

  @media only screen and (min-width: 1000px) {
    html,body {
      zoom: 1;
    }
  }
  @media only screen and (min-width > 1000px) {
    html,body {
      background-color: black;
    }
    
  }

